.signup-link {
    color: var(--first-color);
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
    -moz-transition: all var(--transition);
    -ms-transition: all var(--transition);
    -o-transition: all var(--transition);
}
.signup-link:hover{
    color: var(--first-color-alt)
}