.food-card {
    text-align: center;
    background: var(--card-color);
    -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    padding: calc(var(--p-3) + 52px) calc(var(--p-2-5) / 2) calc(var(--p-2-5) - 10px);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.food-card:after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    width: 30%;
    height: 30%;
    background-color: var(--first-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    border-bottom-left-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.food-img {
    width: 150px;
    position: absolute;
    left: -40px;
    top: -40px;
}
@media (max-width: 767px) {
    .food-img {
        left: -10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .food-img {
        left: -20px;
    }
}
.food-img img {
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.35));
    -webkit-filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.35));
}
.food-card h4 {
    color: var(--text-color);
    text-transform: capitalize;
}
.food-card p {
    margin: calc(var(--m-1) + 10px) 0;
    font-size: var(--small-font-size);
}
.food-card .food-box {
    justify-content: space-between;
    align-items: center;
}