.btn {
    display: inline-block;
    box-shadow: var(--box-shadow);
    padding: var(--p-0-5) var(--p-1);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: all var(--transition) ease-in;
    -webkit-transition: all var(--transition) ease-in;
    -moz-transition: all var(--transition) ease-in;
    -ms-transition: all var(--transition) ease-in;
    -o-transition: all var(--transition) ease-in;
}
.btn-primary {
    color: var(--text-color);
    background-color: var(--first-color);
}
.btn-primary:hover {
    background-color: var(--first-color-alt);
}
.btn-secondary {
    color: var(--text-color);
    background-color: transparent;
    border: var(--border-width) solid var(--border-color);
}
.btn-secondary:hover {
    background-color: var(--first-color);
}
.form-btn {
    display: block;
    width: 70%;
    text-align: center;
    margin: auto;
}
.btn-error {
    color: var(--text-color);
    text-decoration: underline;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.btn-error:hover {
    color: var(--first-color);
}