.search .search-content {
    padding: var(--fixed-padding);
}
.search .search-content .search-box {
    width: 50%;
    margin: var(--m-1) auto;
    justify-content: space-between;
    align-items: center;
}
.search .search-content .search-box input {
    width: 90%;
    color: white;
    font-family: var(--body-font);
    text-transform: capitalize;
    padding: calc(var(--p-0-5) + var(--p-0-5)) calc(var(--p-1) + 4px);
    background-color: transparent;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
.search .search-content .search-box input::placeholder {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    letter-spacing: 1px;
}
.search .search-content .search-box .search-img {
    width: 6%;
}
.search .search-content .search-box .search-img:hover {
    cursor: pointer;
}
.search .search-content .search-info {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
    margin: var(--m-3) auto;
}
.search .search-content .search-info .search-select {
    width: 16%;
    position: relative;
}
.search .search-content .search-info .search-select::after {
    content: "";
    width: 14%;
    height: 50%;
    position: absolute;
    background-image: url('../../assets/image/list-arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.search .search-content .search-info .search-select:hover {
    cursor: pointer;
}
.search .search-content .search-info .search-select select {
    width: 100%;
    appearance: none;
    padding: calc(var(--p-0-5) / 2) var(--p-0-5);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
.search .search-content .search-menu {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 50px;
    margin: calc(var(--m-3) + 50px) auto;
}
@media (max-width: 767px) {
    .search .search-content .search-menu {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .search .search-content .search-menu {
        grid-template-columns: repeat(2, 1fr);
    }
}