@media (min-width: 768px) {
    .totle-container{
        display: flex;
        justify-content: space-around;
    }
}
.totle-data{
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) {
    .totle-data{
        width: 45%;
    }
}
.totle-title{
    font-size: var(--h3-font-size);
    line-height: 1.3;
    text-transform: uppercase;
    /* letter-spacing: 0.14em; */
    font-weight: var(--font-bold);
    border: var(--border-solid);
    border-bottom: none;
    padding: var(--p-1);
    color: var(--text-color);
    background-color: var(--first-color);
    text-align: center;
}
.total-table{
    width: 100%;
    border-collapse: collapse;
    border-top: none;
    margin-bottom: var(--m-2-5);
}
.total-th{
    width: 35%;
}
.total-total strong span {
    color: var(--first-color);
}
.totle-img img{
    width: 280px;
}
@media (max-width: 767px) {
    .totle-img img{
        margin-top: 80px;
    }
}
/*=============== Group Classes ===============*/
.total-table td, 
.total-table th{
    padding: 10px;
    border: var(--border-dashed);
}
