.search .search-content {
    padding: var(--fixed-padding);
}
.search .search-content .search-box {
    width: 50%;
    margin: var(--m-1) auto;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    .search .search-content .search-box {
        width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .search .search-content .search-box {
        width: 90%;
    }
}
.search .search-content .search-box input {
    width: 90%;
    color: white;
    font-family: var(--body-font);
    text-transform: capitalize;
    padding: calc(var(--p-0-5) + var(--p-0-5)) calc(var(--p-1) + 4px);
    background-color: transparent;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
@media (max-width: 767px) {
    .search .search-content .search-box input {
        width: 80%;
    }
}
.search .search-content .search-box input::placeholder {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    letter-spacing: 1px;
}
.search .search-content .search-box .search-img {
    width: 6%;
}
@media (max-width: 767px) {
    .search .search-content .search-box .search-img {
        width: 10%;
    }
}
.search .search-content .search-box .search-img:hover {
    cursor: pointer;
}
.search .search-content .search-info {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
    margin: var(--m-3) auto;
}
.search .search-content .search-result .search-menu {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 50px;
    margin: calc(var(--m-3) + 50px) auto;
}
@media (max-width: 767px) {
    .search .search-content .search-result .search-menu {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .search .search-content .search-result .search-menu {
        grid-template-columns: repeat(2, 1fr);
    }
}