/*=============== HEADER ===============*/
.header{
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    height: calc(var(--header-height) + 45px);
    line-height: 100px;
}
.header-active {
    left: 0;
    background-color: var(--body-color);
    z-index: 99999;
    box-shadow: 3px 3px 5px -4px #ffffff;
}